:root {
  --red-1: #dd2c00;
  --red-2: #b82500;
  --red-3: #521000;

  --blue: #0044dd;
  --blue-muted: #336699;
  --blue-light: #66ccff;
  --blue-dark: #001f4d;

  /* Alice Blue (#F0F8FF): A soft, almost white-blue that’s very easy on the eyes. */
  /* #E6F7FF: A pale tint of cyan-blue, great if you need a subtle, fresh background. */
  /* #ECF5FE: A gentle pastel blue, offering a calm, airy feel. */
  --blue-light-1: #e6f7ff;
  --blue-light-2: #d6f2ff;

  /* Honeydew (#F0FFF0): A nearly white hue with a soft, minty tint. */
  /* Mint Cream (#F5FFFA): Slightly cooler and whiter than Honeydew, still fresh and calming. */
  /* #ECFCE5: A gentle pastel green, providing a subtle, natural atmosphere without overpowering other colors. */
  --green-light-1: #ecfce5;
  --green-light-2: #e4fbda;

  --teal: #00a6b2;
  --cyan-light-1: #ebfeff;
  --cyan-light-2: #d6fcff;

  --yellow-1: #ffc401;
  --yellow-2: #ff9101;
  --gray: #fbf6f4;
  --gray-2: #fbf3ef;
  --gray-3: #f7e7de;
  --gray-4: #f2d9c9;
  --gray-5: #e9c9b7;
  --gray-6: #e0b9a5;
  --gray-7: #d7a994;
  --black: #24242e;
}

html {
  box-sizing: border-box;
  font-weight: 400;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: white;
  color: black;
}

input,
button,
select,
textarea {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  outline: none;

  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;

  /* font-family: "Karla", sans-serif; */
  /* font-optical-sizing: auto; */
  /* font-weight: 400; */
  /* font-style: normal; */

  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.svelte {
  width: 100%;
}

h1 {
  font-weight: 800;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

h4 {
  font-size: 18px;
  font-weight: 500;
}

p {
  font-size: 16px;
}

p span {
  font-size: 16px;
  font-weight: 700;
}
